*.o
examples/64/trzy
examples/64/array_sum
examples/64/array_sum_sse
examples/64/quad_roots
examples/64/dmax
examples/64/quad_roots_sse
zadanie1/conway
zadanie1/conway-test
*.realout
*.log
limits
*.tar.gz
*.tgz
zadanie2/pollution
